.setting .main {
    
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // text-align: center;
  // align-content: flex-start;

  .header {
      
      display: flex;
      height: 20px;
      font-size: 16px;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.31);
      margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 30px;
      flex-direction: row;
      // flex-wrap: wrap;
      align-content: center;

     }
  

  .card-container {
      
      height: 80%;    
        
      scrollbar-width: thin; /* for Firefox */
      scrollbar-color: #4f545c #1f2026; /* for Firefox */
      display: flex;
      //flex-wrap: wrap;
      overflow-x:auto;

      //desktop
      @media screen and (min-width: 600px) {
          //flex-wrap: wrap;
      } 

      

      @media screen and (max-width: 600px) {
          flex-direction: column;
          overflow-y:auto;
      }  
      
      @media screen and (min-width: 600px) {
          flex-direction: row;
          
          max-width: 90%;
          //width: 90%;  
      } 
        
                  
          .card{    


              border-radius: 12px;  
              border:1px solid #22bc32;
              margin: 10px;
              background:transparent;
              //max-width: 50px;


              //mobile
              @media screen and (max-width: 600px) {
                  margin-left: 50px;
                  height: 10vh; 
                  width: 80%;
                  min-height:30vh;
                  
              }  
              
              //desktop
              @media screen and (min-width: 600px) {
                  //flex-basis: calc(100% / 2);
                  margin-left: 30px;
                  min-height:10vh;
                  min-width: 40vw;
                  
                  //width: 30%;
                  height: 10vh; 
              } 
                       
              .card-header {
                  height: 30px;
                  margin: 0px;
                  left: 0px;
                  justify-content: space-between;
                  flex-direction: row-reverse;
                  
                 

                  .card-header-image{

                      margin: 10px;
                      
                  }
                }
                
              .card-content{

                  font-size: smaller;
                  display: flex;
                  // top: 60px;
                  margin-top: 10px;
                  margin-left: 25px;
                  height: 70px;
                  // justify-content: center;
                  /* align-self: center;    <---- REMOVE */
                  align-items: center;   /* <---- NEW    */
                  

              }
              .card-action{

                  display: flex;
                                                         

                      .card-action-button-in {
                          margin: 5px;    
                          background:#22bc32;
                          width: 100px;
                      }

                      .card-action-button-out{
                          margin: 5px;    
                          background: red;
                          width: 100px;
                          
                      }

                      button:disabled{
                          opacity: 0.3;
                          // background: black;
                        }

                

              }
          
          }
      
     


  }

  
}

