// h1 {
//   padding: 0 1rem;  
// }

// h2 {
//   padding: 1rem;
// }

// .head{
//   align-items: left;
//   position: absolute;
//   left: 50px;
// }

#logo {
  height: 25px;
  width: 25px;
}

#banner {
  height: 30px;
  margin-left: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 25px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.profiledropdown{
  align-items: right;
  position: absolute;
  right: 20px;
  top: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10;
  right: 0;
  background-color: #443f3f;
  border-color: white;    
  min-width: 140px;
  box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 20px;
  cursor: pointer;  
}

.dropdown-content a {
  font-size: 12px;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  height: 30px;

  .profile{
    display: block; 
  }

  .username {
    margin-left: 10px; 
    margin-top:0;
    position: fixed;
  }
}

.dropdown-content a:hover {
  background-color: #353434;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
  margin-left: 10px;
  margin-right: 3px;
  height: 24px;
  width: 24px;
}

mat-icon{
    color:rgba(254, 254, 254, 0.542);
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  background-color: #fff;
  color: #a055f5;
  height: fit-content;
  border-bottom: 2px solid #be82ff;
}

.mat-toolbar-single-row {
  padding: 0
}

// mat-sidenav-container {
//   height:100vh;
// }

// Move the content down so that it won't be hidden by the toolbar
// mat-sidenav {
//   background: #000000;
//   padding-top: 3.5rem;
//   @media screen and (min-width: 600px) {
//     padding-top: 4rem;
//   }

//   .entry{
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     padding:0.75rem;        
//   }
// }
.mat-drawer-container {
  background-color: #fff;
  width: 100%;
}

.mat-drawer-content {
  overflow: hidden;
}

// // Move the content down so that it won't be hidden by the toolbar
// mat-sidenav-content {
//   @media screen and (min-width: 600px) {
//     padding-top: 4rem;
//   }
// }

.expanded {
    width: 250px;   
}