.container {
    margin-top: 60px;
    display: block;
    height: 40vh;
    width: 80vw;
    padding: 1em;
  }

.content {
    margin-bottom: 120px;
    padding: 2em;
    font-family: 'Trebuchet MS', sans-serif;
}


