
<div class="chat-app">

  
  <section class="main">

    <div id="border" [hidden]="isCamHidden">
        <video id="qrcam"></video>
    </div>
    
       
    <ul class="chat-feed" #chatFeed>
      <li class="chat-feed-list" *ngFor="let thread of feedThread">

        <div class="threads user-feed-profile" *ngIf="thread.role === 'user'">
            <div class="content">{{unshowAppendedLastInstruction(thread.content)}}</div> 
            <div class="icon"><mat-icon>person_pin</mat-icon></div> 
        </div>

        
        <div class="threads assistant-feed-profile" *ngIf="thread.role === 'assistant'">  
            <div class="icon"><mat-icon>time_to_leave</mat-icon> </div> 
            <div class="content">{{thread.content}}</div>            
        </div>  

      </li>
    </ul>
    <div class="bttom-section">
      <div class="chat-input-container">
        <input id="chatInput" (keyup.enter)="submit(chatInput.value)" #chatInput/>

        <button *ngIf="isCamHidden"  type="button" class="scan-icon" (click)="scan()">
            <mat-icon aria-hidden="false" aria-label="scan icon" fontIcon="camera_alt"></mat-icon> 
            
        </button>

        <button *ngIf="!isCamHidden" type="button" class="scan-icon"(click)="closeScan()">            
            <mat-icon  aria-hidden="false" aria-label="close scan icon" fontIcon="cancel"></mat-icon>       
        </button>

        <button type="button" id="submit" (click)="submit(chatInput.value)">
          <mat-icon *ngIf="!isWaitingResponse"aria-hidden="false" aria-label="home icon" fontIcon="send"></mat-icon>
          <mat-icon *ngIf="isWaitingResponse">block</mat-icon>
        </button>
      </div>
    
    </div>
  </section>
  
</div>