
.chat-app {
    background-color: #202123;
    display: flex;

        
    .main {        

        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
       
        float: left;      
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 50px;
            font-weight: bolder;
            color: rgba($color: #fff, $alpha: 0.31);
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .chat-feed {
            padding: 20px 10vh;
            //max-height: 80%;
            //min-width: 75vw;
            height: 60vh;
            overflow-y: auto;
            scrollbar-width: thin; /* for Firefox */
            scrollbar-color: #4f545c #1f2026; /* for Firefox */

            

            .chat-feed-list {
                list-style-type: none;
                padding: 0px 10px 20px;

                .threads {
                    
                    flex-direction: row;
                    align-items: center;
                    gap: 3px;
                    padding-bottom: 20px;
                    border-bottom: solid 0.5px rgba($color:#fff, $alpha: 0.1);
    
                    img, mat-icon {
                        height: 24px;
                        width: 24px;
                        
                    }    
                }

                .user-feed-profile {
                    justify-content: flex-end;
                    display: flex;
                    border: 2px solid #443f3f;
                    background-color: #443f3f;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px -60px 0 0
                }

                .assistant-feed-profile {
                    justify-content: flex-start;
                    display: flex;  
                    border: 2px solid #443f3f;
                    background-color: #22bc32;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px 0 0 -60px
                }

            }
        }

        .chat-feed::-webkit-scrollbar {
            width: 6px;
        }
        
        .chat-feed::-webkit-scrollbar-track {
            background: #1f2026;
        }
        
        .chat-feed::-webkit-scrollbar-thumb {
            background-color: #4f545c;
            border-radius: 10px;
        }

        .bttom-section {
            position: absolute;  
          
            @media screen and (max-width: 600px) {
                bottom: 0px;   
            }  
            
            @media screen and (min-width: 600px) {
                bottom: 60px;   
            } 
                 
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .chat-input-container {               
                           
                display: flex;
                width: 100%;
                max-width: 100%;                

                input {
                    
                    //position: absolute;
                    bottom: 0;
                    height: 48px;
                    width: 100%;
                    border: none;
                    font-size: large;
                    background-color: rgba($color: #fff, $alpha: 0.05);
                    padding: 10px 95px 10px 20px;
                    border-radius: 5px;
                    box-shadow: rgba($color: #000000, $alpha: 0.05) 0 54px 55px,
                                rgba($color: #000000, $alpha: 0.05) 0 -12px 30px,
                                rgba($color: #000000, $alpha: 0.05) 0 4px 6px,
                                rgba($color: #000000, $alpha: 0.05) 0 12px 3px,
                                rgba($color: #000000, $alpha: 0.05) 0 -3px 55px;
                }

                input:focus {
                    outline: none;
                }

                #submit {
                    border: none;
                    background-color: transparent;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    cursor: pointer;
                }

                .scan-icon {
                    border: none;
                    background-color: transparent;
                    position: absolute;
                    right: 60px;
                    bottom: 20px;
                    cursor: pointer;
                }



            }   
    
        }

        
    }   
}

#border {
    border-color: white;   
}

#qrcam{

    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;

}
    


