 
   

    <div class="checkin">

      <section class="main">

        <div class="header">My Reserved Spaces
          <span *ngIf="checkInInd == true" class="distance" >Distance from Site: {{this.distance}} km</span>
        
        </div> 
        <div class="card-container">           
                      
          <span class="action-message">{{actionMsg}}</span>
          <span class="error-message">{{errorMsg}}</span>
                <mat-card class="card" *ngFor="let reservation of reservationlist">
                  
                  <mat-card-header class="card-header">
                    <div mat-card-avatar class="card-header-image"></div>
                    <!-- <mat-card-title>Reservation Id: {{reservation.ReservationId}}</mat-card-title>
                    <mat-card-subtitle>{{reservation.ReservationStartDateTime.toLocaleDateString()}}</mat-card-subtitle> -->
                  </mat-card-header>

                  <mat-card-content class="card-content">

                    <!-- Enterprise Id: {{reservation.Eid}}<br>
                    Facility: {{reservation.FacilityName}}<br>
                    Parking SpaceId: {{reservation.ParkingSpaceId}} <br>
                    Parking Space: {{reservation.SpaceName}} <br>
                    PlateNbr: {{reservation.PlateNbr}}  <br>
                    Reservation Status: {{reservation.ReservationStatus}}                          -->
                   
                  </mat-card-content>
                  <mat-card-actions class="card-action" *ngIf="isExec">
                    <!-- <button                     
                    [disabled]="reservation.ReservationStartDateTime.toLocaleDateString() != dateToday || checkInInd==true"
                    (click)="checkIn(reservation)"
                    class="card-action-button-in" mat-button>
                          Check-In
                    </button>
                    <button    
                      (click)="checkOut(reservation)"                 
                      [disabled]="reservation.ReservationStartDateTime.toLocaleDateString() != dateToday || checkInInd==false" 
                      class="card-action-button-out" mat-button>
                          Check-Out
                    </button> -->
                  </mat-card-actions>
                </mat-card>

                <!-- <mat-card class="card">
                  <mat-card-content>
                    <h2 class="header">Card</h2>
                 
                    <section class="section">
                  
                    </section>
                  </mat-card-content>
                </mat-card>
                <mat-card class="card">
                  <mat-card-content>
                    <h2 class="header">Card</h2>
                 
                    <section class="section">
                  
                    </section>
                  </mat-card-content>
                </mat-card>
                <mat-card class="card">
                  <mat-card-content>
                    <h2 class="header">Card</h2>
               
                    <section class="section">
                  
                    </section>
                  </mat-card-content>
                </mat-card> -->
                       
      </div>
      </section>
    </div>
